<h3 class="ui header">{{t "forms.i-i-s-c-r-m-company-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationModel "name" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-company-e.name-caption")
      data-test-i-i-s-c-r-m-company-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.employer
      class=(if (v-get validationModel "employer" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-company-e.employer-caption")
      data-test-i-i-s-c-r-m-company-e-employer=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "employer" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.role
      class=(if (v-get validationModel "role" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-company-e.role-caption")
      data-test-i-i-s-c-r-m-company-e-role=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "role" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-c-r-m-company-e.adminstrator-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.adminstrator
      displayAttributeName="name"
      autocomplete=true
      relationName="adminstrator"
      projection="AdminstratorL"
      title=(t "forms.i-i-s-c-r-m-company-e.adminstrator-caption")
      readonly=readonly
      componentName="adminstratorLookup"
      class=(if (v-get validationModel "adminstrator" "isInvalid") "error")
      data-test-i-i-s-c-r-m-company-e-adminstrator=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "adminstrator" "message")}}
  </div>
</form>
