<h3 class="ui header">{{t "forms.i-i-s-c-r-m-contact-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationModel "name" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-contact-e.name-caption")
      data-test-i-i-s-c-r-m-contact-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.surname
      class=(if (v-get validationModel "surname" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-contact-e.surname-caption")
      data-test-i-i-s-c-r-m-contact-e-surname=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "surname" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.telephone
      class=(if (v-get validationModel "telephone" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-contact-e.telephone-caption")
      data-test-i-i-s-c-r-m-contact-e-telephone=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "telephone" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.adress
      class=(if (v-get validationModel "adress" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-contact-e.adress-caption")
      data-test-i-i-s-c-r-m-contact-e-adress=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "adress" "message")}}
  </div>
  <div class="field" data-test-i-i-s-c-r-m-contact-e-gender="true">
    <label>{{t "forms.i-i-s-c-r-m-contact-e.gender-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-c-r-m-t-gender")
      value=model.gender
      class=(if (v-get validationModel "gender" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "gender" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.email
      class=(if (v-get validationModel "email" "isInvalid") "error")
      label=(t "forms.i-i-s-c-r-m-contact-e.email-caption")
      data-test-i-i-s-c-r-m-contact-e-email=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "email" "message")}}
  </div>
</form>
